.idea/
iploc.bin
.vscode/
.DS_Store
.orig
pub
a.out
dist/
build/
!/cmd/make/build
old/
examples/
*.tar.gz
git/git.go
*.log
*.exe
*.test
*.rpm
*.yaml
*.csv
*.pyc
*.zip
install.sh
/install.sh.template
