.idea/
iploc.bin
.vscode/
.DS_Store
.orig
pub
a.out
#doc
dist/
build/
packrd/
!/cmd/make/build
old/
examples/
man/man-packr.go
*.tar
*.tar.gz
git/git.go
*.log
*.exe
*.test
*.rpm
*.yaml
*.csv
*.pyc
*.zip
install.sh
install.ps1
.docs
/check.err

