#
# systemd serivce setting
#
[Unit]
Description=security checker with lua script
After=network.target

[Service]
WorkingDirectory=/usr/local/scheck
ExecReload=/bin/kill -1 $MAINPID
KillMode=process
Restart=always
RestartSec=3s
ExecStart=/usr/local/scheck/scheck -config /usr/local/scheck/checker.conf

[Install]
WantedBy=default.target
