# ##(required) directory contains script
rule_dir='/usr/local/security-checker/rules.d'

# ##(required) output of the metrics, support file or remote http server
# ##file: file:///your/file/path
# ##remote:  http(s)://your.url
output=''

log='/usr/local/security-checker/log'
log_level='info'
